<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AG: Start Page</title>
</head>
<div style="text-align:center">
    <h1>Audiobook Generator</h1>
    <p>Software Engineering: Group 4</p>
    <h3><i>This page serve's as a sort of initial setup, containing links to components from the backend</i></h3>
    <br>
    <p>
        Head over <a href="http://localhost:8080/api/v1/pdf">here</a> to view the concept of the PDF API / Class<br>
        (This stores basic information regarding the users input PDF file)
    </p>
    <br>
    <p>
        Currently, this page only runs locally. Constructed using the <b><i>Spring Boots framework</i></b>
        and using the external library <b><i>ThymeLeaf</i></b> which allows html to be rendered out.
    </p>
</div>
</html>
